.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: auto;
}

.css-zvqyy6-MuiFormControl-root{
    margin: 0 !important;
}
.css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root{
    min-width: 220px;
}

@media (max-width: 768px) {
    .container {
      flex-direction: column !important;
    }
  }