:root {
    --dark-grey : #2B2D42;
    --blue-darker: #495AF2;
    --blue-lighter: #CDDCF5;
    --white-darker: #E3EAF6;
    --white-lighter : #EDF2F4;
    --red : #D90429;
    --pink : #F2495D;
  }
  